VITE_SUPABASE_URL=https://niigcweldloiasgjklts.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5paWdjd2VsZGxvaWFzZ2prbHRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU4Njg2MjIsImV4cCI6MjEwMTQ0NDYyMn0.mMXEKJ_azTqelm8Oq0iwYxaDbn4N1cK3npc1HovZA_g
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5paWdjd2VsZGxvaWFzZ2prbHRzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTg2ODYyMiwiZXhwIjoyMTAxNDQ0NjIyfQ.AbM7UWVs7Mp_r87HcjAlMkEjB1pwiAd6rqlzTGMACmo
